extends layout

block content
  .container
    h2 Edit Profile
    form(method='POST', action='/users/profile/ed_profile/'+user._id)
      #form-group
        label NAME:
        input.form-control(name='name',type='text' value= user.name)
      br
      #form-group  
        label EMAIL:
        input.form-control(name='email',type='email' value= user.email)
      br
      #form-group  
        label Username:  
        input.form-control(name='username',type='text' value= user.username  readonly) 
      br
      input.btn.btn-primary(type='submit' value='Save')
